################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventOfCode2023/bin/Debug/net6.0
/AdventOfCode2023/obj
/.vs/AdventOfCode
/AdventOfCode2023/bin/Release/net6.0
/.vs/ProjectEvaluation
/AdventOfCode2023/bin/Debug/net6.0-windows
**/[Ll]ive.txt*
/AdventOfCode2023/session.txt
/AdventOfCode2023/bin/Release/net6.0-windows
